body{
    background-color: darkgrey;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    border-left: 40px solid black;
    border-right: 40px solid black;
    box-sizing: border-box;
}
.img_principal{
    margin-top: 7%;
    display: block;
    text-align: center;    /* Centra horizontalmente */
/*  align-items: center;        Centra verticalmente */
/*  height: 100vh;      Hace que el contenedor ocupe toda la altura de la ventana */
}
img {
    max-width: 100%;    /* Ajusta el tamaño de la imagen para que no sea más grande que la ventana */
    height: auto;   /* Mantiene la proporción de la imagen */
}
#videos{
    margin-top: 200px;
    font-variant: small-caps;
    text-align: center;
}
#videos video{
    display: inline-block;
    width: 30% ;
    padding: 15px;
    margin-left: 5px;
}
#videos video:hover{
    border: 2px ridge black;
    background-color: lightslategray; 
}
#video1:hover ~ video,#video2:hover ~ video,#video3:hover ~ video{
    display:none;
}
p{
    text-align: justify;
    
    font-size: 20px;
}
h1{
    text-align: center;
    margin: 0;
    margin-bottom: 30px;
    background-color: black;
    color: lightslategrey;
    padding-top: 10px;
    padding-bottom: 10px;
}
header{
    margin-bottom: 100px;
}
h2{
    font-size: 30px;
    font-variant: small-caps;
}
h2:target{
    text-decoration: underline 3px solid lightslategray;
}
ol{
    margin-top: 5%;
    padding: 0;
}
#indice>li, .footer-nav li{
    display: inline-block;
    width: 25%;
    text-align: center;
    background-color: lightslategray;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 17px;
    margin-top: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-variant: small-caps;
}
#indice>li:hover,.footer-nav li:hover{
    background-color: black;
    color: lightslategray;
}
a{
    color: inherit;
    /*Toma el color del padre*/
    text-decoration: inherit;
    font-size: inherit;
}
p a:hover{
    color: tomato;
}
.volver{
    background-color: black;
    color: lightslategray;
    padding: 5px;
    font-size: 10px;
    font-variant: small-caps;
    text-align: center;
    display: block;
    width:fit-content ;     /* Ancho fijo para que el margen automático funcione */
    margin: auto;     /* Centra horizontalmente */
}
.volver:hover{
    background-color: rgb(61, 66, 71);
    color: black;
}
.copyright{
    text-align: right;
    font-size: 12px;
}
footer {
    background-color:#333;
    color: #fff;
    text-align: center;
}
.footer-nav li {
    list-style: none;
    padding: 5px;
    margin: 20px;
    display: inline-block;
    text-align: center;
}
main{
    padding-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
}
.conjuntoIntro,.conjuntoPlay,.conjuntoNintendo,.conjuntoSega {
    display: block;
    margin-bottom: 30px;
}
.conjuntoIntro>p,.conjuntoPlay>p,.conjuntoNintendo>p,.conjuntoSega>p {
    display: inline-block;
    width: 70%;
    box-sizing: border-box;
    margin: 0;
    margin-bottom: 15px;
}
.conjuntoIntro>picture,.conjuntoPlay>picture,.conjuntoNintendo>picture,.conjuntoSega>picture {
    display: inline-block;
    width: 29%;
    box-sizing: border-box;
    margin: 0;
    text-align: center;
}
#ejemplosNintendo, #ejemplosPlay{
    display: block;
    width: 95%;
    margin: auto;
}
h3{
    text-decoration: underline;
    margin-top: 50px;
}