body {
    background-color: darkgrey;
    width: 100vw;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    border-left: 40px solid black;
    border-right: 40px solid black;
    box-sizing: border-box;
}

.img_principal {
    margin-top: 10%;
    display: block;
    text-align: center;
    /* Centra horizontalmente */
    /*  height: 100vh;      Hace que el contenedor ocupe toda la altura de la ventana */
}

img {
    max-width: 100%;
    /* Ajusta el tamaño de la imagen para que no sea más grande que la ventana */
    height: auto;
    /* Mantiene la proporción de la imagen */
}


p {
    text-align: justify;
    font-size: 20px;
}

@media(max-width:3000px) {
    .volver {
            font-size: 10px;
        }
    #miguitas {
        position: absolute;
        top: 100px;
        left: 60px;
        margin: 0 auto;
        display: flex;
        height: 30px;
        width: 170px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    #miguitas p {
        margin: 0;
        height: 29px;
        width: 30px;
        font-size: 14px;
        color: #333;
    }
    #miguitas p:nth-of-type(1) {
        flex-shrink: 1;
        
    }
    #miguitas p:nth-of-type(2) {
        flex-shrink: 2;
        text-align: center;

    }
    #miguitas p:nth-of-type(3) {
        flex-grow: 1;

    }
    #miguitas p a:hover {
        color: black;
        text-decoration: underline;
    }
}
@media (max-width: 800px) {
    body{
        border-left: 20PX solid black;
        border-right: 20px solid black;
    }
    p {
        font-size: 12px;
        /* Reduce el tamaño de la fuente */
    }
    .ejemplosPlay>ul>li{
        font-size: 10px;
    }
    h1 {
        font-size: 18px;
        text-align: center;
    
    }
    h2 {
        font-size: 16px;
    }

    h3 {
        font-size: 14px;
    }

    h4 {
        font-size: 13px;
    }
    li {
        font-size: 10px;
    }
    .footer-nav li {
        font-size: 10px;
    }

    .volver {
        font-size: 6px;
    }
    #miguitas {
        position: absolute;
        top: 200px;
        left: 60px;
        margin: 0 auto;
        display: flex;
        height: 30px;
        width: 170px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    #miguitas p {
        margin: 0;
        height: 29px;
        width: 30px;
        font-size: 7px;
        color: #333;
    }
}

h1 {
    text-align: center;
    margin: 0;
    margin-bottom: 30px;
    background-color: black;
    color: lightslategrey;
    padding-top: 10px;
    padding-bottom: 10px;
}

header {
    margin-bottom: 100px;
}

h2 {
    font-size: 30px;
    font-variant: small-caps;
}

h2:target {
    text-decoration: underline 4px solid lightslategray;
}


.footer-nav li {
    display: inline-block;
    list-style: none;
    width: 25%;
    height: 100%;
    text-align: center;
    background-color: lightslategray;
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-top: 40px;
    padding-top: 15px;
    margin-right: 15px;
    padding-bottom: 15px;
    font-variant: small-caps;
    border-right: 3px solid black;
    border-left: 3px solid white;
    border-radius: 30px 2px 30px 2px;
}
.footer-nav li {
    list-style: none;
    padding: 5px;
    margin: 10px;
    display: inline-block;
    text-align: center;
    border-radius: 10px 0 10px 0;
}

.footer-nav li:hover {
    background-color: black;
    color: lightslategray;
}

a {
    color: inherit;
    /*Toma el color del padre*/
    text-decoration: inherit;
    font-size: inherit;
}

p a:hover {
    color: tomato;
}

.volver {
    background-color: black;
    border-radius: 5px;
    color: lightslategray;
    padding: 5px;
    font-variant: small-caps;
    text-align: center;
    display: block;
    width: fit-content;
    /* Ancho fijo para que el margen automático funcione */
    margin: auto;
    /* Centra horizontalmente */
}

.volver:hover {
    background-color: #333;
    color: black;
}

.copyright {
    text-align: right;
    font-size: 12px;
    margin-right: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
}


main {
    padding-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
}

.conjuntoPlay {
    display: block;
    margin-bottom: 30px;
}

.conjuntoPlay>p {
    display: inline-block;
    width: 70%;
    box-sizing: border-box;
    margin: 0;
    margin-bottom: 15px;
}

.conjuntoPlay>picture {
    display: inline-block;
    width: 29%;
    box-sizing: border-box;
    margin: 0;
    text-align: center;
}

#ejemplosPlay {
    display: block;
    width: 95%;
    margin: auto;
}

h3 {
    text-decoration: underline;
    margin-top: 50px;
}